/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/11/2016, 07:55:15
    Author     : geraldo
*/

body {
    margin: 0px;
    background-color: #efefef;
}

.topo_principal {
    width: 100%;
    max-width: 980px;
    height: 150px;
    margin: auto;
}

.topo {
    width: 100%;
    max-width: 980px;
    height: 340px;
    margin: auto;
}

.logo {
    height: 150px;
}

.logo img {
    border: 1px solid #ccc;
}

.direitatopo {
    background-color: #ccc;
    height: 170px;
    
    
}

.menu {
    width: 100%;
    max-width: 980px;
    margin: auto;
    padding: 10px;
}

.todasdicas {
    padding: 10px;
}

.dicas {
    width: 300px;
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid #000;
    border-right:  1px solid #000;
    background-color: #BAC1BD ;
    margin-top: 10px;
}

.titulo_dica {
    width: 200px;
    height: 80px;
    padding: 5px;
    float: left
}

.foto_dica {
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #CCC;
}

.slideshow {
	height: 335px;
	overflow:hidden;
	margin-bottom:10px;
        margin-top: 10px;
}

.indexador {
	height:20px;
	position:absolute;
	width: 200px;
        margin-top: 5px;
        margin-left: 5px;
}

.imarcador {
	width:20px;
	height:20px;
	float:left;
	margin-left: 5px;
	cursor:pointer;
	border-radius:10px;
	background-color:#CCC;
}

.slideshowarea {
	width:10000px;
	height: 335px;
	transition:all 1s;
}

.slide {
	height: 335px;
	float:left;
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
}

.slideinfo {
	height: 70px;
	background-image:url('../imagens/slideinfo.png');
	background-size:auto 70px;
	margin-top:265px;
}

.slidetitulo {
	font-size:20px;
	color:#FFF;
	padding-top:15px;
	padding-left:20px;
}

.slidesubtitulo {
	font-size:12px;
	color:#FFF;
	padding-left:20px;
}
